<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Enejo James: ejs</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/logodb.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/why.css">
    </head>
    <body>
        <div class="main">
            <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-mywhite" id="scrollingNav">
                <a class="navbar-brand" href="/">
                    <div class="logo mx-auto">
                        <img class="img-fluid" src="/img/logodb.png" alt="logo">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#scrollingNavAltMarkup" aria-controls="scrollingNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="scrollingNavAltMarkup">
                    <div class="navbar-nav ml-auto pr-4">
                        <a class="nav-item nav-link mr-2" href="/thedream">The Dream</a>
                        <a class="nav-item nav-link mr-2" href="/why">Why</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>
                </div>
            </nav>
            <div class="section">
                <div class="tint-blueblack">
                    <nav class="navbar navbar-expand-sm navbar-light" id="staticNav">
                        <a class="navbar-brand" href="/">
                            <div class="logo mx-auto">
                                <img class="img-fluid" src="/img/logow.png" alt="logo">
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staticNavAltMarkup" aria-controls="staticNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="staticNavAltMarkup">
                            <div class="navbar-nav ml-auto pr-4">
                                <a class="nav-item nav-link mr-2" href="/thedream">The Dream</a>
                                <a class="nav-item nav-link mr-2" href="/why">Why</a>
                                <a class="nav-item nav-link" href="/about">About</a>
                            </div>
                        </div>
                    </nav>
                    <div class="welcome px-2">
                        <h1>Why I invited you here</h1>
                        <p class="mx-auto">Thank you for coming <span><%= name %></span>. Let me quickly walk you through why I invited you here. As promised I'd be brief.</p>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>Where am I coming from?</h1>
                        <p>Passing out of service in 2014, <span><%= name %></span>, I was broke and hungry. I really needed a job to survive... literally. I got a job as a Human Resources Officer in a recruiting firm (I currently work here). After two years, I decided to start doing work that resonates with my soul — a place I can flourish and be of great value to the world.</p>
                        <p>I had to return to my first love — sciences. It was at this point I discovered software engineering (computer science) and started self-learning all the way. In less than a year, I started building my own applications.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>Where I am headed?</h1>
                        <p>See <span><%= name %></span>, technology has made it possible to have access to just about any information. I learnt to build applications without attending a university. What, then, should schools be teaching?</p>
                        <p>I believe our schools should be focused on primarily teaching three things:</p>
                        <div class="row my-5">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2 the-grid">
                                <p>Arousing curiosity</p>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2 the-grid">
                                <p>How to learn</p>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2 the-grid">
                                <p>Knowledge internalization</p>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <p>Our schools should help us simulate the real world within in which students could learn by doing. This is the solution I am looking to create.</p>
                    </div>
                    <div class="button text-center">
                        <a class="read-more" href="/thedream#lookingToCreate">Read more</a>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>Where am I right now?</h1>
                        <p>The education solution I am looking to create requires technology. I want to create very intelligent programs cable of understanding how a person learns and provide personalised assistance to the user. This led me to take part in a student challenge with <a href="https://code.berlin">CODE University</a> in Berlin, Germany and emerged the only successful Nigerian in my set. I gained the admission to study Software Engineering on a pay-later option (I don't have to pay school fees until I am done schooling).</p>
                    </div>
                    <div class="admissionLetterContainer">
                        <div class="admissionLetterWrapper">
                            <img class="img-fluid" src="/img/letter.jpg" alt="">
                        </div>
                    </div>
                    <div class="button text-center">
                        <button class="read-more" id="viewLetter">View admission letter</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>So, what is the problem?</h1>
                        <p>I started the VISA and realised that I needed to have €8,640 (about N4 million) in a German block account. The alternative is a sponsorship declaration by a person resident in Germany.</p>
                        <p>I do not have up to N4 million and I do not have anyone in Germany. This is where I need your help.</p>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>How do I expect you to help?</h1>
                        <p><span><%= name %></span>, money does not come easily to anyone, even you. I am not expecting you to give me money (though, I would be glad if you did). I just need you to use your influence to help me get a student VISA. That is all.</p>
                        <p>The Germany visa office requires that a student either have funds or has a sponsorship declaration inorder to be granted VISA. The sponsorship declaration has to be made by a person resident in Germany, I can, then, use that declaration to process my student visa. That is just the end.</p>
                    </div>
                </div>
            </div>
            <div class="bg-black">
                <div class="content">
                    <div class="wrapper black-color text-center">
                        <h1>Here is my promise to you, <span><%= name %></span></h1>
                        <p>I assure you that I will never have any reason to ask my sponsor for money. My expenses would be very low because I will not be paying school fees or buying books (all provided). My only expense would be my rent which I can cover as a student working part time.</p>
                        <p>Student tech jobs are never scarce especially in Germany, I am very good at coding and I am sure of getting a job within 2 weeks. All I need is the sponsorship declaration.</p>
                        <h2>Please help me.</h2>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper text-center">
                        <h1><span><%= name %></span>, I am willing to provide any proof that you need to ascertain the truth of all I have said.</h1>
                        <p>Here is my phone number: 08064341284</p>
                        <div class="contact">
                            <p>My social media pages:</p>
                            <a class="social-media-btns" href="https://www.instagram.com/enKhing">
                                <span class="fa fa-instagram"></span>
                            </a>
                            <a class="social-media-btns" href="https://www.facebook.com/en.Khing">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>Thank you for reading this far.</h1>
                        <h2>Help me in this struggle to salvage the future of our education. I am earnestly hoping for a response from you, <span><%= name %></span>.</h2>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="plea text-center">
                <h2>Please help me achieve this goal</h2>
            </div>
            <div class="footer-nav-wrapper text-center">
                <div class="footer-nav">
                    <a class="nav-item mr-2" href="/thedream">The Dream</a>
                    <a class="nav-item mr-2" href="/why">Why</a>
                    <a class="nav-item" href="#">About</a>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/babel" src="/js/why.js"></script>
    </body>
</html>
